.site-layout-content {
    background: #fff;
    padding: 24px;
    min-height: 280px;
}
.layout .logo {
    width: 120px;
    height: 31px;
    background: rgba(0, 0, 0, 0.2);
    margin: 16px 24px 16px 0;
    float: left;
}

.layout .login-logo {
    width: 100%;
    height: 200px;
    background: rgba(0, 0, 0, 0.2);
    margin: auto;
}

.ant-layout-header {
    background: #fff;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.mr-0 {
    margin-right: 0px;
}

.ml-0 {
    margin-left: 0px;
}

.mt-0 {
    margin-top: 0px;
}

.mb-0 {
    margin-bottom: 0px;
}

.mt-10 {
    margin-top: 10px;
}
