body {
    background: #f0f2f5;
}
.site-layout-content {
    background: #fff;
    padding: 24px;
    min-height: 280px;
}
.layout .logo {
    width: 120px;
    height: 31px;
    background: rgba(0, 0, 0, 0.2);
    margin: 16px 24px 16px 0;
    float: left;
}

.layout .login-logo {
    width: 100%;
    height: 200px;
    background: rgba(0, 0, 0, 0.2);
    margin: auto;
}

.ant-layout-header {
    background: #fff;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.mr-0 {
    margin-right: 0px;
}

.ml-0 {
    margin-left: 0px;
}

.mt-0 {
    margin-top: 0px;
}

.mb-0 {
    margin-bottom: 0px;
}

.mr-10 {
    margin-right: 10px;
}

.ml-10 {
    margin-left: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}
.mr-15 {
    margin-right: 15px;
}

.ml-15 {
    margin-left: 15px;
}

.mt-15 {
    margin-top: 15px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mt-10 {
    margin-top: 10px;
}

.p-10 {
    padding: 10px;
}

.text-center {
    text-align: center;
}

.avatar-uploader > .ant-upload {
    width: 170px;
    height: 170px;
    float: left;
    margin: auto;
}

.ant-col {
    padding: 0 10px;
}

.login-form-button {
    width: 100%;
}
